@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');
body { margin: 0; }
#globe { 
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #040d21;
}
#circle{
  width: 80px;
  height: 80px;
  border: 1px solid #3c2946;
  position:fixed;
  border-radius:50%;
}
@media (hover: hover) and (pointer: fine) {
  #cursor {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
  }

  #cursor .cursor--inner {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px #ffffff;
  }
}

#info {
	position: absolute;
	top: 50px;
  left: 85%;  
	
	text-align: center;
	z-index: 100;
	display:block;
	color: #a7e1fc;
font-family: 'Poppins', sans-serif;
}

a {
color: #ffffff;
text-decoration: none;
}
a:hover {
color: #fa4444;
}
.info a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 0.2px;
	background: #fa4444;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.info a:hover::after,
.info a:focus::after {
	height: 2px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}


.main-text {
	position: absolute;
	top: 55%;
  left: 8%;  
	z-index: 100;
	color: #ffffff;
font-size: 50px;
font-family: monospace;
}

::selection {

background-color:#fa4444 ;

}

.type-text {
 width: 27ch;
  animation: typing 3s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
